.jumbotron
  %h1=t '.title'
  %p=t '.message'

%h2=t '.summary'
%ul.list-group
  -[ [ Title, 'link.titles' ], [ Instrumental, 'link.instrumentals' ] ].each do |(model, title)|
    %li.list-group-item
      %span.badge=model.count
      =t title
