%ul.breadcrumb
  %li=link_to_lh @person.navi_index_str(@person.head1_str(@is_ja)), person_path(head:@person.head1)
  %li.active=show_title
%h1=show_title

.panel.panel-default
  .panel-heading
    %ul.nav.nav-tabs
      -@heads.each do |array|
        -first = array.first
        -last = array.last
        -head=@lhead_hash[first]
        %li{class:(head == @head) ? "active disable" : nil}=link_to_lh "#{first} - #{last}", edit_person_path(@person, head:head)
  .panel-body
    %table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          -%w(link.people).each do |k|
            %th=t k
          -developer_only do
            %th=t 'head.control'
      %tbody
        -@people.each do |person|
          -next if person.parent || person == @person
          -name = person.name(@is_ja)
          %tr{id:name}
            %td=name
            -developer_only do
              %td
                =link_to_lh t('link.add_main'), person_path(@person, person:{ parent_id:person.id }), method: :put

