%ul.breadcrumb
  %li.active=show_title
%h1=show_title

.panel.panel-default
  .panel-heading
    %ul.nav.nav-tabs
      -@heads.each do |array|
        -first = array.first
        -last = array.last
        -head=@lhead_hash[first]
        %li{class:(head == @head) ? "active disable" : nil}=link_to_lh "#{first} - #{last}", people_path(head:head)
  .panel-body
    %table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          -%w(link.people head.another_name).each do |k|
            %th=t k
          %th=t 'head.control'
      %tbody
        -@people.each do |person|
          -next if person.parent
          -name = person.name(@is_ja)
          -has_children = false
          %tr{id:name}
            %td=name
            %td
              -person.children.each do |p|
                -has_children = true
                =p.name(@is_ja)
                -developer_only do
                  =link_to_lh t('link.delete_link'), person_path(p, person:{ parent_id:nil }), method: :put
            %td
              =link_to_lh t('people.show.title'), person
              -developer_only do
                -unless has_children
                  =link_to_lh t('link.add_main'), edit_person_path(person)
                  =link_to_lh t('link.destroy'), person_path(person), method: :delete, data:{ confirm:t('confirm.destroy') } if person.can_delete?




