%h1=show_title

=render partial:'form'

%ul.nav.nav-tabs
  -@heads.each do |array|
    -first = array.first
    -last = array.last
    -head=@lhead_hash[first]
    %li{class:(head == @head) ? "active disable" : nil}=link_to "#{first} - #{last}", edit_song_path(@song, head:head)
%table.table-bordered.table-striped.table-hover
  %thead
    %tr
      -%w(link.songs).each do |k|
        %th=t k
      -if @is_dev
        %th=t 'head.control'
  %tbody
    -@songs.each do |song|
      -next if song.parent || song == @song
      -name = song.name(@is_ja)
      %tr{id:name}
        %td=name
        -if @is_dev
          %td.btn-group.btn-group-xs
            =link_to t('link.add_main'), song_path(@song, song:{ parent_id:song.id }), method: :put, class:"btn btn-default"


