%ul.breadcrumb
  %li=link_to_lh @song.navi_index_str(@song.head1_str(@is_ja)), songs_path(head:@song.head1)
  %li.active=show_title
%h1=show_title

.panel.panel-default
  .panel-body
    %table.table.table-bordered
      %thead
        %tr
          -%w(activerecord.attributes.song.date link.lyrics link.musics).each do |k|
            %th=t k
      %tbody
        %tr{id: :information}
          %td
            =link_to_lh mgdnw(@song.date), @song.year
            -developer_only do
              =link_to_lh t('link.edit'), edit_song_path(@song)
          %td
            =@song.lyrics_str(@is_ja)
            -developer_only do
              =link_to_lh t('lyrics.edit.title'), new_lyric_path(song_id:@song.id)
          %td
            =@song.musics_str(@is_ja)
            -developer_only do
              =link_to_lh t('musics.edit.title'), new_music_path(song_id:@song.id)
  .panel-footer
    %table.table.table-bordered
      =render partial:'/shared/neighbors', locals: { title:'head.neighbors_by_name', before:@song.objects_before_yomi.only_main.limit(Neighbors), center:@song.name(@is_ja), after:@song.objects_after_yomi.only_main.limit(Neighbors) }
      -same_date_count = @song.objects_same_date.only_main.count
      -add_info = same_date_count > 1 ? " + #{same_date_count - 1}" : ""
      =render partial:'/shared/neighbors', locals: { title:'head.neighbors_by_date', before:@song.objects_before_date.order_yomi_desc.only_main.limit(Neighbors), center:"#{@song.name(@is_ja)}#{add_info}", after:@song.objects_after_date.order_yomi.only_main.limit(Neighbors) }
      
