=form_for @album do |f|
  =display_error(@album)
  %table.table.table-bordered.table-striped
    %tr
      -if controller.action_name == 'new'
        %th=f.label :device_type
        %td=f.select :device_type, Album.device_type_options
    -[ :number, :date, :minutes, :seconds, :j_comment, :e_comment ].each do |key|
      %tr
        %th=f.label key
        %td=f.text_field key
    %tr
      %td.text-center{colspan:2}
        =f.hidden_field :title_id
        =f.submit nil, class:"btn btn-default"
        


