%ul.breadcrumb
  %li=link_to_lh @title.navi_index_str, titles_path(head:@title.head)
  %li=link_to_lh @title.navi_show_str(@is_ja), @title
  %li.active=show_title
%h1=show_title

.panel.panel-default
  .panel-body
    =render partial:'form'

