%ul.breadcrumb
  %li.active=show_title
%h1=show_title

.panel.panel-default
  .panel-heading.btn-group
    -@heads.each do |array|
      -first = array.first
      -last = array.last
      .btn-group
        =button_tag class:"btn btn-default dropdown-toggle", "data-toggle" => "dropdown" do
          ="#{first} - #{last}"
        %ul.dropdown-menu
          -array.each do |fl|
            %li=link_to_lh fl, titles_path(head:@lhead_hash[fl]) if fl
  .panel-body
    %table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          -%w(link.titles link.songs link.people link.instrumentals).each do |k|
            %th=t k
          %th=t 'head.control'
      %tbody  
        -@titles.each do |title|
          -name = title.name(@is_ja)
          %tr{id:name}
            %td=name
            %td
              -if song = title.song
                =link_to_lh t('songs.show.title'), song
              -else
                -developer_only do
                  =link_to_lh t('songs.new.title'), new_song_path(title_id:title.id)
            %td
              -if person = title.person
                =link_to_lh t('people.show.title'), person
              -else
                -developer_only do
                  =link_to_lh t('people.new.title'), people_path(person:{title_id:title.id}), method: :post
            %td
              -if instrumental = title.instrumental
                =link_to_lh t('instrumentals.show.title'), instrumental
              -else
                -developer_only do
                  -max = Instrumental.maximum(:sort_order) || 0
                  =link_to_lh t('instrumentals.new.title'), instrumentals_path(instrumental:{title_id:title.id, sort_order:max+10}), method: :post
            %td
              =link_to_lh t('titles.show.title'), title
              -developer_only do
                =link_to_lh t('link.edit'), edit_title_path(title)
                =link_to_lh t('link.destroy'), title_path(title), method: :delete, data:{ confirm:t('confirm.destroy') } if title.can_delete?

  -developer_only do
    .panel-footer
      =link_to_lh t('titles.new.title'), new_title_path
