%h1 #{t '.title'} (#{@head_str})

.btn-group
  -@heads.each do |array|
    -first = array.first
    -last = array.last
    .btn-group
      =button_tag class:"btn btn-default dropdown-toggle", "data-toggle" => "dropdown" do
        ="#{first} - #{last}"
      %ul.dropdown-menu
        -array.each do |fl|
          %li=link_to fl, titles_path(head:@lhead_hash[fl]) if fl
%hr

%table.table-bordered.table-striped.table-hover
  %thead
    %tr
      -%w(link.titles link.people link.instrumentals).each do |k|
        %th=t k
      -if @is_dev
        %th=t 'head.control'
  %tbody  
    -@titles.each do |title|
      -name = title.name(@is_ja)
      %tr{id:name}
        %td=name
        %td
          -if person = title.person
            .btn-group.btn-group-xs
              =link_to t('link.show'), person, class:'btn btn-default'
          -elsif @is_dev
            .btn-gropu.btn-group-xs
              =link_to t('people.new.title'), people_path(person:{title_id:title.id}), method: :post, class:'btn btn-default'
        %td
          -if instrumental = title.instrumental
            .btn-group.btn-group-xs
              =link_to t('link.show'), instrumental, class:'btn btn-default'
          -elsif @is_dev
            .btn-group.btn-group-xs
              -max = Instrumental.maximum(:sort_order) || 0
              =link_to t('instrumentals.new.title'), instrumentals_path(instrumental:{title_id:title.id, sort_order:max+10}), method: :post, class:'btn btn-default'
        -if @is_dev
          %td
            .btn-group.btn-group-xs
              =link_to t('link.edit'), edit_title_path(title), class:"btn btn-default"
              =link_to t('link.destroy'), title_path(title), class:"btn btn-default", method: :delete, data:{ confirm:t('confirm.destroy') } if title.can_delete?

-if @is_dev
  %hr
  .btn-group.btn-group-justified
    =link_to t('titles.new.title'), new_title_path, class:"btn btn-default"
