%ul.breadcrumb
  %li=link_to_lh @song.navi_index_str(@song.head1_str(@is_ja)), songs_path(head:@song.head1)
  %li=link_to_lh @song.navi_show_str(@is_ja), @song
  %li=link_to_lh @song.navi_edit_str(@is_ja), edit_song_path(@song)
  %li.active=show_title
%h1=show_title

%h2=t 'link.musics'
.panel.panel-default
  .panel-body
    %table.table.table-bordered
      %thead
        %tr
          %th=t 'head.sort_order'
          %th=t 'link.people'
          %th=t 'head.control'
      %tbody
        -@song.musics.order_sort_order.each do |music|
          -person = music.person
          -pname = person.name(@is_ja)
          %tr{id:"music:#{music.sort_order}"}
            %td=music.sort_order
            %td=pname
            %td
              -developer_only do
                =link_to_lh t('link.edit'), edit_music_path(music)
                =link_to_lh t('link.delete_link'), music, method: :delete, date:{ confirm:'confirm.destroy' }

.panel.panel-default
  .panel-heading
    %ul.nav.nav-tabs
      -@heads.each do |array|
        -first = array.first
        -last = array.last
        -head=@lhead_hash[first]
        %li{class:(head == @head) ? "active disable" : nil}=link_to_lh "#{first} - #{last}", new_music_path(song_id:@song.id, head:head)
.panel.panel-default
  .panel-body
    %table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          -%w(link.people).each do |k|
            %th=t k
          -developer_only do
            %th=t 'head.control'
      %tbody
        -@people.each do |person|
          -name = person.name(@is_ja)
          %tr{id:name}
            %td=name
            -developer_only do
              %td
                -music = @exist_hash[person]
                -unless music
                  =link_to_lh t('musics.new.title'), musics_path(music:{ song_id:@song.id, person_id:person.id, sort_order:@sort_order }), method: :post


